.home-content {
  --background: url('/assets/fondo.jpg') no-repeat center center / cover;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .logo {
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
    animation: pulse 7s ease-in-out infinite;
    filter: drop-shadow(0 8px 32px #000a);
  }
}

@keyframes pulse {
  0%   { transform: scale(0.92); }
  50%  { transform: scale(1.08); }
  100% { transform: scale(0.92); }
}